<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/harin.css">
	<link rel="stylesheet" href="../css/flex.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<style media="screen">
		.wrapper {
			max-width: 980px;
			margin: 0 auto;
		}

		.input-flex2 {
			display: flex;
			justify-content: center;
			/* align-content: flex-start; */
			height: 40px;
		}

		.input-flex2>button {
			margin: 20px 30px;
		}
	</style>
	<script>
		$(function() {
			$('input[name="filterCk"]').change(function() {
				var value = $(this).val(); // value
				var checkId = $(this).attr('id');
				console.log(checkId);
				var checked = $(this).prop('checked'); // checked 상태 (true, false)
				var $label = $(this).next();
				if (checkId == 'filterCheck_1') {

					if (checked) {
						$('input[name="filterCk"]').each(function() {
							$(this).prop('checked', true);
							$(this).next().css('background-color', '#0984e3');
						})
					} else {
						$('input[name="filterCk"]').each(function() {
							$(this).prop('checked', false);
							$(this).next().css('background-color', '#74b9ff')
						})
					}
					// checked ?$('.filter-div').prop('checked',true) :  $('.filter-div').prop('checked',false)
					// checked ?$('label').css('background-color', 'rgb(42, 94, 230)') : $('label').css('background-color', 'rgb(180, 205, 224)')
				} else {
					checked ? $label.css('background-color', '#0984e3') : $label.css('background-color', '#74b9ff');
				}
			});
      $(".row").click(function(){
        $('.wrapper').css('display','none');
        $('.saveThis').css('display','block');
      });
      $("#returnList").click(function(){
        location.href="inquiryTable.html";
      });
      $(".writeForm").click(function(){
        $('.wrapper').css('display','none');
        $('.saveThis2').css('display','block');
      });
      $("#writeForm2").click(function(){

      });

      $("#cancelTo").click(()=>{
        location.href="inquiryTable.html";
      });
		});
	</script>
</head>

<body>
	<header class="color2">
		<ul class="hlist">
			<li>
				<a href="index.html">공지사항</a>
			</li>
			<li>
				<a href="faq.html">FAQ</a>
			</li>
			<li>
				<a href="inquiryTable.html">문의하기</a>
			</li>
			<li>
				<a href="deliveryConf.html">배송확인</a>
			</li>
			<li>
				<a href="refundForm.html">반품확인</a>
			</li>
			<li>
				<a href="serviceInfo.html">소개</a>
			</li>
		</ul>
	</header>

	<div class="wrapper">
		<h2 class="wrapLogo">내 문의보기</h2>
		<div class="flex-container2">
			<!-- search -->
			<span class="f2"></span>
			<input type="text" class="f5" placeholder="제목 검색" />
			<button class="f1">검색</button>
			<span class="f1"></span>
			<button class="f1 writeForm">작성하기</button>
		</div>
	</div>



	<!-- <div class="wrapper" style="padding:20px 20px;background-color:rgb(195, 193, 178)">
			<div class="input-flex">
					<span class="flex-ss">Search</span><input type="text" name="" value="">
			</div>
			<div class="input-flex">
					<span class="flex-ss">Filter</span>
					<div class="div-flex filter-div">
							<input type="checkbox" class="blind" name="filterCk" id="filterCheck_1" />
							<label for="filterCheck_1">ALL</label>
							<input type="checkbox" class="blind" name="filterCk" id="filterCheck_2" />
							<label for="filterCheck_2">검색</label>
							<input type="checkbox" class="blind" name="filterCk" id="filterCheck_3" />
							<label for="filterCheck_3">제품 문의사항</label>
							<input type="checkbox" class="blind" name="filterCk" id="filterCheck_4" />
							<label for="filterCheck_4">Q&A</label>
							<input type="checkbox" class="blind" name="filterCk" id="filterCheck_5" />
							<label for="filterCheck_5">FaQ</label>
							 <input type="checkbox" class="blind" name="filterCk" id="filterCheck_6" />
							<label for="filterCheck_6">제품</label>
					</div>

			</div>
			 입력 버튼 넣기
			<div class="input-flex2">
				<button style="flex=none;">검색하기</button>
				<button style="flex=none;">초기화</button>
			</div>
		</div> -->

	<!-- 게시판 글쓰기 -->

	<div class="wrapper flex-container_them1 saveThis2">
  <h2 class="wrapLogo">문의 글 작성하기</h2>
  <div class=" input-flex">
    <span class="flex-solo">제목</span>
    <input type="text"/>
  </div>

  <div class="input-flex">
    <span class="flex-solo">내용</span>
  </div>

  <div class="input-flex flex-height">
    <textarea class="flex-textarea" name="" id=""></textarea>
  </div>

  <div class="input-flex flex-temp1">
    <button class="flex-right" id="writeForm2">작성하기</button>
    <button class="flex-right" id="cancelTo">취소</button>
  </div>
</div>

	<!-- 게시판 글쓰기 끝-->
	<div class="wrapper saveThis">
		<h2 class="wrapLogo">글 상세보기</h2>
		<div class="flex_container2">
			<div class="f1 rowH" style="justify-content:flex-end;"><button id="returnList">목록</button></div>
			<div class="f2 rowH" style="margin:10px 10px;">
				<div class="color1" style="padding:0px 10px;">제목</div>
				<div class="f1 color2"><input type="text" style="width:100%" disabled></div>
			</div>
			<div class="f1 rowH">
				<div class="color1" style="padding:0px 10px;">내용</div>
			</div>
			<div class="f1 rowH">
				<textarea name="name" style="width:100%" rows="20" disabled></textarea>
			</div>
			<br>
			<div class="f1 rowH color3">댓글</div>
			<div class="f1 rowH color4" style="height:100px;">1
			</div>
		</div>
	</div>


	<!-- table -->
	<div class="wrapper">
		<div class="limiter">
			<div class="container-table100">
				<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								제목
							</div>
							<div class="cell">
								문의사항
							</div>
							<div class="cell">
								아이디
							</div>
							<div class="cell">
								작성일자
							</div>
							<div class="cell">
								답변
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="제목">
								Q4. 어떻게 하죠?
							</div>
							<div class="cell" data-title="문의사항">
								1:1 문의
							</div>
							<div class="cell" data-title="아이디">
								admin
							</div>
							<div class="cell" data-title="작성일자">
								2019-06-26-17:55
							</div>
							<div class="cell" data-title="답변" style="min-width:70px;">
								N
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="제목">
								Q1. 어떻게 하죠?
							</div>
							<div class="cell" data-title="문의사항">
								1:1 문의
							</div>
							<div class="cell" data-title="아이디">
								admin
							</div>
							<div class="cell" data-title="작성일자">
								2019-06-26-17:55
							</div>
							<div class="cell" data-title="답변">
								N
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="제목">
								Q2. 어떻게 하죠?
							</div>
							<div class="cell" data-title="문의사항">
								상품 상세 질문
							</div>
							<div class="cell" data-title="아이디">
								admin
							</div>
							<div class="cell" data-title="작성일자">
								2019-06-26-17:55
							</div>
							<div class="cell" data-title="답변">
								N
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="제목">
								Q3. 어떻게 하죠?
							</div>
							<div class="cell" data-title="문의사항">
								1:1 문의
							</div>
							<div class="cell" data-title="아이디">
								admin
							</div>
							<div class="cell" data-title="작성일자">
								2019-06-26-17:55
							</div>
							<div class="cell" data-title="답변">
								N
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- table End -->

	<footer class="footer-flex">
		<div class="footer-item" style="background-color:black;">1</div>
	</footer>
</body>

</html>
