<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/m6/css/profile.css">
    <script src="/m6/js/common.js"></script>
    <title>내 정보</title>
</head>

<body>
    <header>
        <div class = "bar">
        <input type="button" value = "로그아웃" class = "login" onclick="logout()">
        <div class = "logo">로고</div>
        </div>
    </header>
<div style="max-width: 980px;margin: 0 auto;">
        <div class="subject"><b>내 정보</b></div>
            <div class="inneredge">
            <center>
                <div class = "greybox">
                <form class = "contents">
                    <div class = "m10">
                        <span class = "txt">이름</span>
                        <span class = "profile">홍길동</span>
                    </div>
                    <div class = "m10">
                        <span class = "txt">부서</span>
                        <span class = "profile">일자리정책관</span>
                    </div>
                    <div class = "m10">
                        <span class = "txt">직급</span>
                        <span class = "profile">교수</span>
                    </div>
                    <div class = "m10">
                        <span class = "txt">최종 학력</span>
                        <span class = "profile">대학교졸업</span>
                    </div>
                    <div class = "m10">
                        <span class = "txt">주소</span>
                        <span class = "profile">08505 서울시 금천구 가산디지털2로 115, 509호, 811호(가산동, 대륭테크노타운3차)</span>

                    </div>
                    <br>
                    <br>

                    <div class = "m10">
                        <span class = "txt">연락처</span>
                        <span class = "profile">0212341234</span>
                    </div>
                    <div class = "m10">
                        <span class = "txt">입사일</span>
                        <span class = "profile">20001231</span>
                    </div>
                </form>
                <form action = "/">
                    <input type="submit" value="탈퇴하기" class="button">
                </form>
                <form action = "/m6/v/editprofile">
                    <input type="submit" value="수정하기" class="button">
                </form>
                <form action = "/">
                    <input type="submit" value="탈퇴" class="button2">
                </form>
                <form action = "/m6/v/editprofile">
                    <input type="submit" value="수정" class="button3">
                </form>
                </div>
            </center>
            </div>

    </div>
</body>

</html>
