html, body {margin :0; padding: 0};
.m1{
  width: 100%;
  margin:0;
  padding:0;
  background-color: #888888;
}
.m2 {
  width :50%;
  height: 50px;
  float:left;
  background-color: #888888;
  text-align: center;
  margin:0;
  padding:0;
  display: inline-block;
}
li:hover, .m2:hover{
  opacity: 0.6;
}
a {
  text-decoration: none;
  color:white;
  font-size:1.3rem;
}
h3 {
 margin:0;
 margin-top:10px
}

nav {
  color:white;
  clear:both;
  float:left;
  width: 150px;
  height: calc(100vh - 82px);
  margin-top : 50px;
  background-color: #00aaaa;
  position: fixed;
  text-align: center;
  display: inline-block;
}
ul {
  list-style-type :none;
  padding:0;
}
li {
  margin: 10px;
}
#c1 ::before{
  clear:both;
}
#c1 {
  clear:both;
  width: calc(100% - 190px);
  margin-left: 170px;
  display: none;
  <!-- display: none; -->

}
#c2 {
  clear:both;
  width: calc(100% - 150px);
  margin-left: 150px;
  display: none;
  <!-- display: none; -->
}
#c1 a{
  font-size:10px;
  color:black;
}
.s1{
  width : 100%;
  padding: 5px 0px;
}
#c3 {
  clear:both;
  width: calc(100% - 190px);
  margin-left: 170px;
  display: none;
  <!-- display: none; -->

}
table, tr, td {
  border-spacing: 0px;
  text-align: center;
  border: 0.5px solid;
}
table {
  width: 100%;
}
.i1 {
  text-align: center;
  width: 80%;
  padding-top: 10px;
}
button {
  height : 20px;
  width: 50px;
  font-size:10px;
  color:black;
}

@media screen and (max-width:700px) {
  nav {
    margin:0 !important;
    padding:0;
    clear:both;
    width: 100%;
    height: 50px;
    margin-top : 50px;
    background-color: #00aaaa;
    display: inline-block;
    position:static;
  }

  nav li{
    width :33.3333%;
    float:left;
    margin:0;
  }
  #c1 {
    margin: 0;
    padding :0;
    clear:both;
    width: calc(100%);
    display: none;
    <!-- display: none; -->
  }
  
  #c3{
    margin: 0;
    padding :0;
    clear:both;
    width: calc(100%);
    display: none;
    <!-- display: none; -->
  }
}
