html, body {margin :0; padding: 0};
.m1{
  width: 100%;
  margin:0;
  padding:0;
  background-color: #888888;
}
.m2 {
  width :50%;
  height: 50px;
  float:left;
  background-color: #888888;
  text-align: center;
  margin:0;
  padding:0;
  display: inline-block;
}
li:hover, .m2:hover{
  opacity: 0.6;
}
a {
  text-decoration: none;
  color:white;
  font-size:1.3rem;
}
h3 {
 margin:0;
 margin-top:10px
}

nav {
  color:white;
  float:left;
  width: 150px;
  height: calc(100% - 82px);
  margin-top : 50px;
  background-color: #94b0b9;
  position: fixed;
  text-align: center;

}
ul {
  list-style-type :none;
  padding:0;
  color:white;
  font-size:1.3rem;
}
#menu {

}
li {
  margin: 10px;
}
#c0 {
  display: block;
  width: calc(100% - 190px);
  margin-left: 170px;
  height:100%;
}
#c0 article{
  text-align: center;
  margin-left:0%;
  margin-top : 10%;
  width : 95%;
  height:100%;
}
img {
  padding-left: 5%;
}
#c1 ::before{
  clear:both;
}
#c1 {
  clear:both;
  width: calc(100% - 190px);
  margin-left: 170px;
  display: none;
  <!-- display: none; -->

}
#c2 {
  width: calc(100% - 152px);
  margin-left: 150px;
  display: none;
  <!-- display: none; -->
}
#c2 ul{
  color:black;
  clear: both;
  background-color: white;
}
#c2 li{
  background-color: white;
  float:left;
  margin:0;
  padding:0;
  width:50%;
  margin: 10px 0;
  font-size: 16px;
}
#c2 li:hover{
  opacity: 1.0;
}
#c2 p {

}
#c2 input{}
.i1 {

  width: 50%;
  padding: 3% 0%;
  margin:3% 25%;
  border: 1px solid ;
  display: inline-block;
}

.i2 {
  text-align: center;
  font-size: 16px;
}


#c1 a{
  font-size:10px;
  color:black;
}
.s1{
  width : 100%;
  padding: 5px 0px;
}

#c3 {
  clear:both;
  width: calc(100% - 190px);
  margin-left: 170px;
  display: none;
  <!-- display: none; -->

}
table, tr, td {
  border-spacing: 0px;
  text-align: center;
  border: 0.5px solid #888888;
}
table {
  width: 100%;
  border:1px solid #888888;
}

button {
  height : 20px;
  width: 50px;
  font-size:10px;
  color:black;
}
.popup {
  margin-left:15%;
  width :70%;
  height:100%;
  background-color: pink;
  display: none;
  position:absolute;
  z-index: 1;
}
.popup ul {
  margin:0;
  padding:0;
  width: 50%;
  height: 50px;
  font-size: 16px;
}
@media screen and (max-width:768px) {
  nav {
    margin:0 !important;
    padding:0;
    clear:both;
    width: 100%;
    height: 50px;
    margin-top : 50px;
    background-color: #00aaaa;
    display: inline-block;
    position:static;
  }
  ul p{
    display: none;
  }
  #menu2{
    display: none;
    cursor: pointer;
  }
  #menu2:hover{
    opacity: 0.6;
  }
  nav li{
    width :33.3333%;
    float:left;
    margin:0;
  }
  nav ul:hover li{

  }
  #c0 {
    margin:0;
    padding: 0;
    width: 100%;
  }
  #c0 article{
    text-align: center;
    margin:0;
    padding:0;
    margin-left:0%;
    margin-top : 10%;
    width : 100%;
    height:100%;
  }
  img {
    padding-left: 0%;
    height: 300px;
    width: 350px;
  }

  #c1 {
    margin: 0;
    padding :0;
    clear:both;
    width: calc(100%);
    display: none;
    <!-- display: none; -->
  }
  #c2{
    margin:0;
    padding:0;
    width:100%;
  }
  .i1{

    margin: 0;
    margin-top:20px;
    padding:0;
    width: 80%;
    margin-left: 10%;
  }

  #c3{
    margin: 0;
    padding :0;
    clear:both;
    width: calc(100%);
    display: none;
    <!-- display: none; -->
  }
}

@media screen and (max-width:576px) {
  nav {
    margin:0 !important;
    padding:0;
    clear:both;
    width: 100%;
    height: auto;
    margin-top : 50px;
    background-color: #00aaaa;
    display: inline-block;
    position:static;
  }
  ul {
    margin:0;
    padding:0;
  }

  ul p{
    display: block;
    cursor: pointer;
  }
  #menu2{
    display: block;
  }
  nav li{
    width :100%;
    margin:0;
    display: block;
    background-color:#00aaaa;
  }

  #c1 {
    margin: 0;
    padding :0;
    clear:both;
    width: calc(100%);
    display: none;
    <!-- display: none; -->
  }
  form input{
    width: 80px !important;
  }
  form .s3{
    width:150px !important;
  }
#c2 li{
  width: 100%;
  text-align: center;
}
.i1 p{
    text-align: center;
}

  #c3{
    margin: 0;
    padding :0;
    clear:both;
    width: calc(100%);
    display: none;
    <!-- display: none; -->
  }
}
