<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/commons.js"></script>
        <style>
            #list {min-height: 220px;}
            #list li {cursor: pointer;}
            .dn {display: none;}
            .active {color: blue; font-weight: bold;}
            #paging {list-style: none;}
            #paging li {width: 30px; float: left; text-align: center; cursor: pointer;}
        </style>
        <script>
            $(document).ready(function(){
                var reTime;
                var param = {};
                var pagingIndex = 0, viewCnt = 10;
                $("form").submit(function(event) {
                    event.preventDefault();
                    param = {"nm" : $("#NM").val()};
                    fNet("/m0/insert", "POST", param, fSet);
                });

                $("#logout").click(function(){
                    location.href = "/logout";
                });

                $("form input[type=button]").click(function(){
                    var index = $("form input[type=button]").index(this);
                    switch (index) {
                        case 0:
                            param.nm = $("#NM").val();
                            fNet("/m0/update", "POST", param, function(data){
                                if(data.state){
                                    alert(data.text);
                                } else {
                                    alert(data.text);
                                }
                            });
                            break;
                        case 1:
                            fNet("/m0/delete", "POST", param, function(data){
                                if(!data.state){
                                    alert(data.text);
                                }
                            });
                            break;
                        default:
                            break;
                    }

                    $("form input[type=button]").addClass("dn");
                    $("form input[type=submit]").removeClass("dn");
                    $("#NM").val("");
                    init();
                });

                function init(){
                    //clearTimeout(reTime);
                    param = {"index": pagingIndex, "viewCnt": viewCnt};
                    fNet("/m0/select", "POST", param, function (data) {
                        listView(data.list);
                        if(data.state){                            
                            pagingView(data.paging);
                        } else {
                            pagingView(0);
                            pagingIndex = 0;
                            alert("네트워크 불안합니다.");
                        }
                        //startTime();
                    });                    
                }
                function listView(rows){
                    $("#list").empty();
                    for(var i = 0; i < rows.length; i++){
                        var html = "<li>" + rows[i].NM + "</li>";
                        $("#list").append(html);
                    }

                    $("#list li").click(function(){
                        var t = $(this).text();
                        var index = $("#list li").index(this);
                        // index = (rows.length - index) - 1; 
                        // console.log(t, rows[index], rows[index].NO, rows[index].ID);
                        var no = rows[index].NO;
                        var id = rows[index].ID;
                        param = {
                            'no' : no,
                            'id' : id
                        }
                        $("form input[type=button]").removeClass("dn");
                        $("form input[type=submit]").addClass("dn");
                        $("#NM").val(rows[index].NM);
                    });
                }
                function pagingView(tot){
                    var p = Math.ceil(tot / viewCnt);
                    $("#paging").empty();
                    for(var i = 0; i < p; i++){
                        var html = "<li>" + (i + 1) + "</li>";
                        $("#paging").append(html);
                    }
                    $("#paging li").removeClass("active");
                    $("#paging li").eq(pagingIndex).addClass("active");
                    $("#paging li").click(function(){
                        /**
                         *  1(0) , 2(1) , 3(2) , 4(3) , 5(4) 
                         *  0    , 5    , 10   , 15   , 20
                         *  0*5    1*5    2*5    3*5    4*5
                         *  pagingIndex = index * 5;
                         */
                        pagingIndex = $("#paging li").index(this);                        
                        init();
                    });
                }

                function startTime(){
                    reTime = setTimeout(function(){
                        init();
                    }, 500);
                }
                init();
            });
        </script>
    </head>
    <body>
        <h1>디비테스트</h1><button type="button" id="logout">로그아웃</button>
        <form>
            <input type="text" name="NM" id="NM" placeholder="이름이 작성하세요." required>
            <input type="submit" value="저장">
        </form>
        <form>
            <input type="button" value="수정" class="dn">
            <input type="button" value="삭제" class="dn">
            <input type="button" value="취소" class="dn">
        </form>
        <hr>
        <ul id="list"></ul>
        <ul id="paging"></ul>
    </body>
</html>