<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/commons.css">
  <link rel="stylesheet" href="./css/bom_add.css">
  <link rel="stylesheet" media="only screen and (max-width: 768px)" href="./css/bom_add_768.css">
	<link rel="stylesheet" media="only screen and (max-width: 576px)" href="./css/bom_add_576.css">
  <title>수정</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="./js/bom_update.js"></script>
  <script src="../js/commons.js"></script>
  <script>
    
  function getUrlParams() {
    var params = {};
    window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) { params[key] = value; });
    return params;
  } 
    $(document).ready(function(){
      var p = getUrlParams();
      var catelevel = p.catelevel;
      var catenm = decodeURI(p.catenm);

      /*
      var catenm = get_data(params, 0);
      var catecode = get_data(params, 1);
      var price = get_data(params, 2);
      var spec = get_data(params, 3);
      var unit = get_data(params, 4);
      console.log(catenm, catecode, price, spec, unit, catelevel)
      */
      console.log( catelevel )
      
      if(catelevel == 1){
        var catenm = p.catenm;
        var catecode = p.catecode;

      } else if (catelevel == 2){
        var catenm = p.catenm;
        var catecode = p.catecode;
        var price = p.price;
        var spec = p.spec;
        var unit = p.unit;
        
        var key = {
          "catelevel" : catelevel,
          "key" : catenm
        }
        $("#aa").css("display", "none");
        $("#bb").css("display", "block");

        fNet("/m1/update/select", "POST", key, function(data) {
          var rows = data.rows;
          console.log("rows :", rows);
          var html = '<option value=1>'+rows[0].catenm+'</option>';
          $("#main_cate").append(html);
          html = '<option value=1>'+decodeURI(catenm)+'</option>';
          $("#mid_cate").append(html);
          //$("#small_cate").empty().append(optionbox);
          //$("#data_table").empty().append(html);
        });
        
      } else if (catelevel == 3){
        $("#aa").css("display", "none");
        $("#bb").css("display", "none");
        $("#cc").css("display", "block");

      }
   
    });
  </script>
</head>
<body>
  <header>
    <h1 style="color: white;">LOGO</h1>
  </header>
  <div class="main_container">
    <div class="nav_container">
      <nav>
        <span id="nav_id">BOM</span>
        <ul>
          <li><a href="./"> 조회 </a></li>
          <li><a href="./bomadd"> 등록 </a></li>
        </ul>
      </nav>
    </div>
    <div class="section_container">
      <!-- 수정 관련 select  -->
      <div class="text_container">
        <h2>수정</h2>
      </div>
      <div class="check_container">
        <div class="select_container">
          <div class="inner">
            <p style="text-align: center; margin : 0; padding: 0;">대분류 :</p>
            <select id="main_cate" name="main_cate">
            </select>
          </div>
          <div class="inner">
            <p style="text-align: center; margin : 0; padding: 0;">중분류 :</p>
            <select id="mid_cate" name="mid_cate">
            </select>
          </div>
          <div class="inner">
            <p style="text-align: center; margin : 0; padding: 0;">소분류 :</p>
            <select id="small_cate" name="small_cate">
            </select>
          </div>
        </div>
      </div>
      <div class="data_container">
        <div class="outer_container">
          <div class="inner_container">
            <!-- 대분류 -->
            <div id="aa">
            <div class="contents">
              <fieldset>
                <legend> 대분류 </legend>
                <!--<form action="/m1/bom_add" method="post" id="Myform" name="Main">-->
                <div action="" method="" id="Myform" name="Main">
                  <div class="out" style="border-top: 1px solid red;">
                    <div class="cate_title">
                      <label for="code" style="width:100%;">품명</label>
                    </div>
                    <div class="cate_input">
                      <input type="text" name="maincatename" id="maincatename">
                    </div>
                  </div>
                  <div class="out">
                    <div class="cate_title">
                      <label for="code" style="">품목코드</label>
                    </div>
                    <div class="cate_input">
                      <input type="text" name="catecode" id="catecode">
                    </div>
                  </div>
                  <div class="out">
                      <!--<button type="submit">등록</button>-->
                      <button id="mainCateAdd">수정</button>
                      <button onclick="btn_cancel()">취소</button>
                  </div>
                </div>
              </fieldset>
            </div>
            </div>
            <!-- 중분류 -->
            <div id="bb">
            <div class="contents">
            <fieldset>
              <legend> 대분류 > 중분류 </legend>
              <div action="" method="post">
                <div class="out" style="border-top: 1px solid red;">
                  <div class="cate_title">
                    <label for="code" style="width:100%;">품명</label>
                  </div>
                  <div class="cate_input">
                    <input type="text" name="midcatename" id="midcatename" >
                  </div>
                </div>
                <div class="out">
                  <div class="cate_title">
                    <label for="code" style="">품목코드</label>
                  </div>
                  <div class="cate_input">
                    <input type="text" name="midcatecode" id="midcatecode" >
                  </div>
                </div>
                <div class="out">
                  <div class="cate_title">
                    <label for="code" style="">금액</label>
                  </div>
                  <div class="cate_input">
                    <input type="text" name="price" id="price" >
                  </div>
                </div>
                <div class="out">
                  <div class="cate_title">
                    <label for="standard">규격</label>
                  </div>
                  <div class="cate_input">
                    <input type="text" name="spec" id="spec"class="text">
                    <select class="" name="">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <div class="out">
                  <div class="cate_title">
                    <label for="standard">단위</label>
                  </div>
                  <div class="cate_input">
                    <input type="text" name="unit" id="unit" class="text">
                    <select class="d" name="">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                </div>
                <div class="out">
                    <button id="midCateAdd">수정</button>
                    <button onclick="btn_cancel()">취소</button>
                </div>
            </fieldset>
            </div>
            </div>
            <!-- 소분류 -->
            <div id="cc">
            <div class="contents">
              <fieldset>
                <legend> 대분류 > 중분류 > 소분류 </legend>
                <div action="" method="post">
                  <div class="out" style="border-top: 1px solid red;">
                    <div class="cate_title">
                      <label for="code" style="width:100%;">품명</label>
                    </div>
                    <div class="cate_input">
                      <input type="text" id="smallcatename" >
                    </div>
                  </div>
                  <div class="out">
                    <div class="cate_title">
                      <label for="code" style="">품목코드</label>
                    </div>
                    <div class="cate_input">
                      <input type="text" id="smallcatecode" >
                    </div>
                  </div>
                  <div class="out">
                    <div class="cate_title">
                      <label for="code" style="">소요수량</label>
                    </div>
                    <div class="cate_input">
                      <input type="text" id="smallcateavailstock" >
                    </div>
                  </div>
                  <div class="out">
                    <div class="cate_title">
                      <label for="code" style="">금액</label>
                    </div>
                    <div class="cate_input">
                      <input type="text" id="smallcateprice">
                    </div>
                  </div>
                  <div class="out">
                    <div class="cate_title">
                      <label for="standard">규격</label>
                    </div>
                    <div class="cate_input">
                      <input type="text" name="smallcatespec" id="smallcatespec" class="text">
                      <select class="" name="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="out">
                    <div class="cate_title">
                      <label for="standard">단위</label>
                    </div>
                    <div class="cate_input">
                      <input type="text" name="smallcateunit" id="smallcateunit" class="text">
                      <select class="" name="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="out">
                      <button id="smallCateAdd">수정</button>
                      <button onclick="btn_cancel()">취소</button>
                  </div>
                </div>
              </fieldset>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
