<ul><li>구분:<input name="no" type="radio" value="입금" placeholder="구분" style="width:10%; height:20px">입금
<input name="no" type="radio" value="출금" placeholder="구분" style="width:10%; height:20px">출금</li>
<li>발생기간: <input name="time" type="date" placeholder="구분" style="width:40%; height:20px"></li></ul>
<ul><li>금액&nbsp;&nbsp;&nbsp;: <input name="money" type="text" placeholder="구분" style="width:50%; height:20px"></li>
<li>종목: <input name="content" type="text" placeholder="구분" style="width:50%; height:20px"></li></ul>
<ul><li>거래처: <input name="target" type="text" placeholder="구분" style="width:50%; height:20px"></li>
<li>실적: <input name="result" type="text" placeholder="구분" style="width:50%; height:20px"></li></ul>
<p>상세내용 : <input name="contents" type="text" placeholder="구분" style="width:calc(80%); height:200px"></p>
<ul class="i2"><input  id= "store" type="submit"  style="width: 60px; height:30px" >
<input name="취소" id="cancel" type="button" value="취소" style="width: 60px; height : 30px"><ul>
